/* Font Section */
* {
    font-family: 'Raleway';
}

.main-cta h1{
    margin-top: 40px;
    line-height: 1.2em;
    font-size: 3em;
    text-align: center;
    color: white;

    img{
        margin: 0 auto;
        vertical-align: middle;
    }
}

.main-cta p{
    line-height: 1.5em;
    text-align: center;
    color: white;
}

footer{
    line-height: 1.5em;
    text-align: center;
    color: white;
}

/* Content Styling Section */
.wrap{
    position: relative;
    margin: 1em;
    z-index: 2;
}

.background-color{
    position: absolute;
    z-index: 1;

    img{
        max-width: 100%;
    }
}

body{
    background: #0E0216;
    background-blend-mode: overlay;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
}

footer{
    display: block;
    position: fixed;
    bottom: 0;
    font-size: 0.7em;
    margin-left: 0;
}

/* Navigation Bar Section */
nav ul{
    background: #031F30;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100vh;
    width: 35%;
    margin: 0;
    list-style: None;
    text-align: right;
    padding: 1em;
    transform: translateX(100%);
    transition: transform 0.5s;


    li{
        margin: 2em 0.1em;

        &:nth-of-type(1){
            margin-bottom: 2.5em;
        }

        a{
            color:  white;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.3rem;

            &:hover{
                color: #8EF0DD;
            }
        }
    }
}

/* Screen Adjust Section */
.hide-mobile{
    display: None;
}

.open{
    transform: translateX(0%);
}

@media (min-width: 1200px){
    .wrap{
        margin: 0 0 0 1.5em;
    }

    .hide-desktop{
        display: none;
    }

    .hide-mobile{
        display: block;
    }

    .header-left{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }

    nav ul{
        position: unset;
        background: none;
        display: flex;
        gap: 1.5em;
        height: auto;
        width: auto;
        transform: translateX(0%);

        li a{
            font-size: 1em;
        }
    }
}

/* Product Section */
.product-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.product-glass {
    position: relative;
    width: 180px;
    height: 200px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
    margin: 0 -45px;
    transform: rotate(5deg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.product-glass::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    color: #0E0216;
    font-weight: bold;
  }

.product-glass.articles {
    background-image: url("../image assets/Product-Articles.jpg");
}

.product-glass.ai-tools {
    background-image: url("../image assets/Product-AITools.jpg");
}

.product-glass.case-center {
    background-image: url("../image assets/Product-CaseCenter.jpg");
}

.product-glass.consulting {
    background-image: url("../image assets/Product-Consulting.jpg");
}

.product-container:hover .product-glass {
    content: "";
    transform: rotate(0deg);
    margin: 0 10px;
}

.product-glass p{
    opacity: 0;
    transition: opacity 0.5s;
    font-size: 0.8em;
    text-align: center;
    color: #8EF0DD;
    font-family: 'Raleway';
    position: relative;
    z-index: 1;
}

.product-glass:hover p{
    opacity: 1;
    text-align: center;
    color: #fff;
    font-family: 'Raleway';
    line-height: 1.7em;
    position: relative;
    z-index: 1;
}

/* AI Search Bar Section */
.ai-search{
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 40px;
    display: flex;
    background-color: #2d2d2d;
    padding: 0 15px;
    border-radius: 10px;
    border: 1px solid rgb(63, 63, 63);
    margin: 10px auto 0 auto;
}

.ai-search:focus-within {
    border: 1px solid rgb(110, 110, 110);
}

#messageInput {
    width: 200px;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 10px;
    color: white;
}
  
#sendButton {
    width: fit-content;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}

#sendButton svg {
    height: 18px;
    transition: all 0.3s;
}

#sendButton:hover svg path {
    fill: #3c3c3c;
    stroke: white;
}

.bridging-ai h3{
    color: white;
    margin-top: 100px;
    text-align: center;
    font-weight: lighter;
    font-size: smaller;
    font-family: 'Raleway';
}