@import "tailwindcss";

@theme {
    --color-dark-purple: #261459;
    --color-light-purple: #7449F6;
    --color-dark-violet: #2C1238;
    --color-light-violet: #8742A7;
    --color-dark-teal: #154D41;
    --color-light-teal: #52D9B7;
    --color-dark-blue: #153053;
    --color-light-blue: #5E9CF8;
    --color-deep-dark-blue: #010C13;
}

/* Font Section */
* {
    font-family: 'Raleway';
}

/* Navigation Bar Section */
nav ul {
    transform: translateX(100%);
    transition: transform 0.5s;
}

/* Screen Adjust Section */
.open {
    transform: translateX(0%);
}

@media (min-width: 1200px) {
    nav ul {
        position: unset;
        background: none;
        display: flex;
        gap: 1.5em;
        height: auto;
        width: auto;
        transform: translateX(0%);
    }
}

html {
    scroll-behavior: smooth;
}

/* Chatbot Styling Section */
#chat-window::-webkit-scrollbar {
    width: 4px;
}

#chat-window::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.02);
}

#chat-window::-webkit-scrollbar-thumb {
    background: rgba(21, 77, 65, 0.5);
    border-radius: 10px;
}